{% extends 'base.html' %}

{% block content %}
<form action= '/result' method = "POST" >
    {% for question in ques %}
        <div class = 'question'>Q{{forloop.counter}} {{ question.label }} </div><br>
        <div id= "choices" class='select'>
            <input type = "radio" name="{{question.id}}" value="{{question.option1}}">{{question.option1}}<br>
            <input type = "radio" name="{{question.id}}" value="{{question.option2}}">{{question.option2}}<br>
            <input type = "radio" name="{{question.id}}" value="{{question.option3}}">{{question.option3}}<br>
            <input type = "radio" name="{{question.id}}" value="{{question.option4}}">{{question.option4}}<br>
        </div>
        <br>
    {% endfor %}
<div style="text-align:center"> <input style="padding: 10px 35px;font-size:120%;cursor: pointer;" type="submit" class="submit" id="submit" value="Submit"/></div>
    {% csrf_token %}
</form>


{% endblock %}



